In [1]:
#importing pandas libary as pd
import pandas as pd

In [2]:
#using pandas  read function we are reading data set
dataset=pd.read_csv("Salary_Data.csv")
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [6]:
#from dataset seperating input column and assigning to independent variable 
independent=dataset[["YearsExperience"]]
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [7]:
#from dataset seperating output column and assigning to dependent variable 
dependent=dataset[["Salary"]]
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [8]:
#from sklearn libary  importing  model_selection class in the that class we are train_test_split function
from sklearn.model_selection import train_test_split
# we are assigning input & output data to train_test_split function to split our data two train data and testdata.we can also pass spliting percentage in function parameter
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [10]:
#from sklearn libary  importing  linear_model  class in the that class we are using LinearRegression function
from sklearn.linear_model import LinearRegression
#assigning LinearRegression function to variable regressor
regressor=LinearRegression()
#using fit function we are passing train dataset LinearRegression function and making model to learn 
regressor.fit(X_train,Y_train)

LinearRegression()

In [11]:
#we find value bitween all input point y=wx+b using formula we say we are finding w
weight=regressor.coef_
weight

array([[9360.26128619]])

In [12]:
#By using intercept function we are finding starting point os slope y=wx+b by using formula we can say we are finding b
bais=regressor.intercept_
bais

array([26777.3913412])

In [14]:
# we making our model to do predition so we are passing test data in our model to predict
y_pred=regressor.predict(X_test)

In [15]:
#from sklearn libary  importing  metrics class in the that class we are using r2_score function
from sklearn.metrics import r2_score
#we are passing r2 funcion  to to variable r_score in that we passing predict value and y_test value to cross check our model predition is correct or wrong
r_score=r2_score(Y_test,y_pred)
# r_score value is near to 1 our model good to use if vale is nearst to 0 our model not good
r_score

0.9740993407213511

In [17]:
#we are importing pickel package 
import pickle
#we creating file with name 
filename="final_model_linear.sav"

In [18]:
#writing our model in created file usin dump function in pickle
pickle.dump(regressor,open(filename,'wb'))

In [20]:
#we are opening model saved file to do recheck using load function in picker and assinging the model to the variable loaded_model
loaded_model=pickle.load(open("final_model_linear.sav",'rb'))
#we are passing input to model to predict
result=loaded_model.predict([[13]])
# seeing predicted value
result

/home/vivekanandhan/anaconda3/lib/python3.9/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[148460.78806172]])